<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <button class="submit" type="button"> <a  href="asset/add">Add new ledger</a>

  </button>

</nav>
<br>

<table style="width:100%">
    <tr>
        <th>Code</th>
        <th>Ledger</th>
        <th>Actions</th>
    </tr>
    {% for category in Categories %}
      <tr>
        <td>{{category.sl_no}}</td>
        <td>{{category.name}}</td>
        <td>
          {% if category.type != 'static' %}
          <a href="asset/edit/{{ category.id }}">Edit</a>
          {% endif %}
        </td>
      </tr>
      {% if category.children|length %}
          {% include "Sam/child_category.html" with Categories=category.children %}
      {% endif %}
    {% endfor %}
    </table>
</ol>


</body>

</html>