<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
</style>
</head>
<body>
<body style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h2 style="text-align: center">View Deatails</h2></center>
                            </div>
                            <table border="1" class="table table-bordered" input align="center">

                                <thead class="alert-warning">
                                <tr>
                                    <th>Customer name</th>
                                    <th>Vat Reg No.</th>
                                    <th>CR No</th>
                                    <th>Erpired On</th>
                                    <th>Land Phone No</th>
                                    <th>Mob No</th>
                                    <th>Email Id</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cust2 in cust %}
                                    <tr>
                                        <td>{{ cust2.customer_name }}</td>
                                        <td>{{ cust2.vat_reg_no }}</td>
                                        <td>{{ cust2.cr_no }}</td>
                                        <td>{{ cust2.expired_on }}</td>
                                        <td>{{ cust2.land_phone }}</td>
                                        <td>{{ cust2.mobile }}</td>
                                        <td>{{ cust2.email }}</td>
                                        <td>{{ cust2.address }}</td>
                                        <td><center><a class="btn btn-sm btn-warning" href="editcust/{{ cust2.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="deletecust/{{ cust2.id }}"><span class="glyphicon glyphicon-trash"></span>Delete</a> </center></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

				</div>




</body>
</html>