<html>
<head>
<title>Dashboard</title>
</head>
<body>
<form method="" action="">
	<h2 style="color: black;font-family: verdana;text-align: center ;">HOME PAGE</h2>
<br>

<a href="gocust">CUSTOMER REGISTRATION</a>&nbsp;&nbsp;<a href="custview">< VIEW CUSTOMER REGISTRATION ></a><br><br>

<a href="gosupp">SUPPLIER REGISTRATION</a>&nbsp;&nbsp;<a href="suppview">< VIEW SUPPLIER REGISTRATION ></a><br><br>

<a href="goitem">ITEM REGISTRATION</a>&nbsp;&nbsp;<a href="itemview">< VIEW ITEM REGISTRATION ></a><br><br>

<a href="gojob">JOB REGISTRATION</a>&nbsp;&nbsp;<a href="jobview">< VIEW JOB REGISTRATION ></a><br><br>

<a href="gogroup">GROUP REGISTRATION</a>&nbsp;&nbsp;<a href="groupview">< VIEW GROUP REGISTRATION ></a><br><br>

<a href="goledger">LEDGER REGISTRATION</a>&nbsp;&nbsp;<a href="ledgerview">< VIEW LEDGER REGISTRATION ></a><br><br>

<a href="goemp">EMPLOYEE REGISTRATION</a>&nbsp;&nbsp;<a href="">< VIEW EMPLOYEE REGISTRATION ></a><br><br>

<a href="goaccount">CHART OF ACCOUNTS</a>&nbsp;&nbsp;



</form>
</body>
</html>