<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h2 style="text-align: center">REGISTRATION</h2></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="container"></div>
                    <form action="updateitem/{{ itmview.id }}" method="post"  class="needs-validation" novalidate>
                                {% csrf_token %}
                                <br>
                        <div class="card radius-15" style="background-color: grey;">
						<div class="card-body">
                            <br>
                            <div class="card-title">
								<h4 style="text-align: center">Item Registration</h4>
							</div>


                            <div class="row">
                                <label for="validationCustom02">Item name</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_name" value="{{ itmview.item_name }}" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Item Drecription</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_desc" value="{{ itmview.item_desc }}" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Item Barcode</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_barcode" value="{{ itmview.item_barcode }}" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Item Category</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_category" value="{{ itmview.item_category }}" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <div class="col">
                                <label for="validationCustom02">Item Unit</label>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <label for="validationCustom02">Primary</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_unit_prim" value="{{ itmview.item_unit_prim }}" required style="background-color: lightgray;color: black;">
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <label for="validationCustom02">Secondary</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_unit_sec" value="{{ itmview.item_unit_sec }}" required style="background-color: lightgray;color: black;">
                                </div>
                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Opening Balance</label>
                                <input type="text" class="form-control" id="validationCustom02" name="open_balance" value="{{ itmview.open_balance }}" required style="background-color: lightgray;color: black;">

                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Buying Price</label>
                                <input type="text" class="form-control" id="validationCustom02" name="buying_price" value="{{ itmview.buying_price }}" required style="background-color: lightgray;color: black;">

                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Selling Price</label>
                                <input type="text" class="form-control" id="validationCustom02" name="sell_price" value="{{ itmview.sell_price }}" required style="background-color: lightgray;color: black;">

                            </div><br>


                            <div class="row">
                                <label for="validationCustom02">Add Image </label><br>

                                <label for="validationCustom02">Image-1 </label>
                                <input type="file" class="form-control" name="image1"  required ><br>
                                <label for="validationCustom02">Image-2 </label>
                                <input type="file" class="form-control" name="image2" required ><br>
                                <label for="validationCustom02">Image-3 </label>
                                <input type="file" class="form-control" name="image3" required ><br>
                                <label for="validationCustom02">Image-4 </label>
                                <input type="file" class="form-control" name="image4" required ><br>

                            </div><br>


                            </div>
                        </div>
                        </div>



								&nbsp;




                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <button class="btn btn-primary" type="submit" style="width: 100%;background-color: darkgrey">Submit form</button>
                                </div>
                            </div>
                        </div>

                    </form>
        </div>

</div>



</body>
</html>