<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
</style>
</head>
<body>
<body style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h2 style="text-align: center">View Deatails</h2></center>
                            </div>
                            <table border="1" class="table table-bordered" input align="center">

                                <thead class="alert-warning">
                                <tr>
                                    <th>Ledger name</th>
                                    <th>Group Name</th>
                                    <th>Category</th>
                                    <th>Opening Balance</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ldg2 in ldg %}
                                    <tr>
                                        <td>{{ ldg2.ledger_name }}</td>
                                        <td>{{ ldg2.group_name }}</td>
                                        <td>{{ ldg2.category }}</td>
                                        <td>{{ ldg2.opening_bal }}</td>
                                        <td><center><a class="btn btn-sm btn-warning" href="editledger/{{ ldg2.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="deleteledger/{{ ldg2.id }}"><span class="glyphicon glyphicon-trash"></span>Delete</a> </center></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

				</div>




</body>
</html>