<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
    .text-block1 {
  position: absolute;
  bottom: 225px;
  right: 510px;

}
</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h1 style="text-align: center">Sales</h1></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="text-block1">
                        <a href="cashview"><button style="align-items: center;border-radius: 12px;">CASH SALE</button></a><br><br>
                        <a href="creditview"><button style="align-items: center;border-radius: 12px;">CREDIT SALE</button></a><br><br>
                        <a href="sreturnview"><button style="align-items: center;border-radius: 12px;">SALES RETURN</button></a><br><br>
                        <a href="receiptview"><button style="align-items: center;border-radius: 12px;">RECEIPT</button></a><br><br>
                    </div>

        </div>

</div>



</body>
</html>