<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h2 style="text-align: center">REGISTRATION</h2></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="container"></div>
                    <form action="suppcreate" method="post"  class="needs-validation" novalidate>
                                {% csrf_token %}
                                <br>
                        <div class="card radius-15" style="background-color: grey;">
						<div class="card-body">
                            <br>
                            <div class="card-title">
								<h4 style="text-align: center">Supplier Registration</h4>
							</div>


                            <div class="row">
                                <label for="validationCustom02">Customer name</label>
                                <input type="text" class="form-control" id="validationCustom02" name="customer_name" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Vat Reg No.</label>
                                <input type="text" class="form-control" id="validationCustom02" name="vat_reg_no" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <div class="col">
                                <label for="validationCustom02">CR No</label>
                                <input type="text" class="form-control" id="validationCustom02" name="cr_no" required style="background-color: lightgray;color: black;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <label for="validationCustom02">Erpired On</label>
                                <input type="text" class="form-control" id="validationCustom02" name="expired_on" required style="background-color: lightgray;color: black;">
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col">
                                <label for="validationCustom02">Land Phone No</label>
                                <input type="text" class="form-control" id="validationCustom02" name="land_phone" required style="background-color: lightgray;color: black;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <label for="validationCustom02">Mob No</label>
                                <input type="text" class="form-control" id="validationCustom02" name="mobile" required style="background-color: lightgray;color: black;">
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col">
                                <label for="validationCustom02">Contact Person</label>
                                <input type="text" class="form-control" id="validationCustom02" name="contact_person" required style="background-color: lightgray;color: black;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label for="validationCustom02">Mob No</label>
                                <input type="text" class="form-control" id="validationCustom02" name="contact_mobile" required style="background-color: lightgray;color: black;">
                                </div>
                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Email Id</label>
                                <input type="text" class="form-control" id="validationCustom02" name="email" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Location & Address </label>
                                <input type="text" class="form-control" id="validationCustom02" name="address" required style="background-color: lightgray;color: black;">

                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Opening Balance </label>
                                <input type="text" class="form-control" id="validationCustom02" name="open_balance" required style="background-color: lightgray;color: black;">

                            </div><br>

                            <div class="row">
                                <label for="validationCustom02">Credit Limit-Amount </label>
                                <input type="text" class="form-control" id="validationCustom02" name="credit_lim_am" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Credit Limit-Duration </label>
                                <input type="text" class="form-control" id="validationCustom02" name="credit_lim_dur" required style="background-color: lightgray;color: black;">

                            </div><br>



                            </div>
                        </div>
                        </div>
    <br>
                        <div class="card radius-15" style="background-color: grey;"><br>
                            <div class="row">
                                <label for="validationCustom02">Bank Account Name </label>
                                <input type="text" class="form-control" id="validationCustom02" name="bank_acc_name" required style="background-color: lightgray;color: black;">

                            </div><br>
                            <div class="row">
                                <label for="validationCustom02">Bank Account Number </label>
                                <input type="text" class="form-control" id="validationCustom02" name="bank_acc_no" required style="background-color: lightgray;color: black;">

                            </div><br>
                        </div>


								&nbsp;




                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <button class="btn btn-primary" type="submit" style="width: 100%;background-color: darkgrey">Submit form</button>
                                </div>
                            </div>
                        </div>

                    </form>
        </div>

</div>



</body>
</html>