<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
    .text-block1 {
  position: absolute;

  left: 10cm;
    }

</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h1 style="text-align: center">Trial Balance</h1></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="container">
                    <form action="trialbalancecreate" method="POST"  class="needs-validation" novalidate>
                                {% csrf_token %}
                        <div class="row">

                                <div class="row">
                                    <div class="col">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label for="validationCustom02">Date</label>
                                    <input type="text" style="border-radius:12px;width: 10cm;" class="form-control" id="validationCustom02" name="date" required style="background-color: lightgray;color: black;">

                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label for="validationCustom02">Report Date</label>
                                    <input type="text" style="border-radius:12px;width: 10cm;" class="form-control" id="validationCustom02" name="reportdate" required style="background-color: lightgray;color: black;">

                                    </div>
                                </div><br>


                            </div><br>
                             <div class="row">
                                <div class="text-block1">
                                    <div class="form-row">
                                        <button class="btn btn-primary" type="submit" style="width: 10cm;border-radius:12px;background-color: darkgrey">Submit form</button>
                                    </div>
                                </div>
                            </div><br><br>

                            <!--Table-->
                            <div class="row">
                                <div class="col">
                                    <table border="1" class="table table-bordered table-hover" id="tab_logic">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Ledger ID</th>
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Ledger Category</th>
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Ledger Name</th>
                                           
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Debit Amount</th>
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Opening Balance</th>
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Credit Amount</th>
                                            <th style="border-radius:12px;width: 2cm;" class="text-center">Closing Balance</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                           
                                            {%for cat in category%}
                    
                     
                     
                                                {% for grp in groups%}
                                                  {%if cat.id == 4%}
                                                  <tr>
                                                      <td></td>
                                                  <td>{{grp.id}}</td> 
                                                    <td>{{cat.category_name}}</td>
                                                    {%for cash_sale in cash_sale%}
                                                    <td>{{cash_sale.cash}} </td>
                                                    {%endfor%}
                                                    {%for pcash in pcash%}
                                                    <td>{{pcash.account}}</td>
                                                    <td>{{pcash.total5}} </td> 
                                                   
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                   <tr>    
                                                   
                                               
                                                    {% for ledger in result%}
                                                      {%if grp.id == ledger.group_id%}
                                                    
                                                      <td></td>
                                                      <td>{{ledger.id}}</td>
                                                      <td>{{grp.group_name}}</td>
                                                     
                                                     <td> {{ledger.ledger_name}}</td> 
                                                     <td></td>
                                                     <td></td>
                                                     <td>{{pcash.total5}} </td> 
                                                     <td></td>
                                                     
                                                      <tr>
                                                     
                                                      
                                                         
                                                          
                                            
                                                        
                                                      
                                                      {%endif%}
                                                      {%endfor%}
                                                    {% endfor %}
                                            
                                                  {%endif%}
                                                {% endfor %}
                                            
                                                       
                                              {% endfor %}
                                            
                                                         
                                                        
                                                 
                                                
                                                
                                               </td>
                                             
                                         
                            <!--End-Table-->



                        <script>
                        function myFunction() {
                        var x = document.getElementById("myFile");
                        x.disabled = true;
                        }
                        </script>
                    </form>
                    </div>


        </div>

</div>



</body>
</html>